# dictionary

In [26]:
d={}

In [27]:
type(d)

dict

In [28]:
d1 = {'key':'abhishek'}
d1

{'key': 'abhishek'}

In [29]:
d2= {'name':'abhishek kumar sahu','email':'abhiii0017@gmail.com', 'number': 9140638469}
d2

{'name': 'abhishek kumar sahu',
 'email': 'abhiii0017@gmail.com',
 'number': 9140638469}

In [30]:
d3 = {234:'abhi', True:2354} # special case key me app nahi use kar sakte hai

In [31]:
d3

{234: 'abhi', True: 2354}

In [32]:
# use of key to find value
d3[234]

'abhi'

In [33]:
d4={'name':'abhishek kumar sahu','email':'abhiiii0017@gmail.com', 'name':'abhi'}

In [34]:
d4

{'name': 'abhi', 'email': 'abhiiii0017@gmail.com'}

In [35]:
d5={'company':'tcs','worker':['rohit','mohit','joshi']}

In [36]:
d5

{'company': 'tcs', 'worker': ['rohit', 'mohit', 'joshi']}

In [37]:
d5['worker'][2]

'joshi'

In [38]:
d5['owner']='Tata' # add new key value pair
d5

{'company': 'tcs', 'worker': ['rohit', 'mohit', 'joshi'], 'owner': 'Tata'}

In [39]:
del d5['owner'] # delete key value pair
d5

{'company': 'tcs', 'worker': ['rohit', 'mohit', 'joshi']}

In [40]:
list(d5.keys()) # return all keys

['company', 'worker']

In [41]:
d5.items() # return all key value pair

dict_items([('company', 'tcs'), ('worker', ['rohit', 'mohit', 'joshi'])])

In [42]:
list(d5.items()) # return all values

[('company', 'tcs'), ('worker', ['rohit', 'mohit', 'joshi'])]

In [43]:
d5.values() # return all values

dict_values(['tcs', ['rohit', 'mohit', 'joshi']])

In [44]:
d5.get('company') # return value of key

'tcs'

In [45]:
d5.pop('company') # remove key value pair

'tcs'

In [46]:
d5

{'worker': ['rohit', 'mohit', 'joshi']}

# conditinal satatement

In [47]:
marks= 95

In [48]:
if marks>=80:
    print('you will be a part of A batch')
elif marks>=60:
    print('you will be a part of B batch')
elif marks>=40:
    print('you will be a part of C batch')
else:
    print('you will be a part of D batch')

you will be a part of A batch

In [49]:
marks= int(input('enter your marks:'))
if marks>=80:
    print('you will be a part of A batch')
elif marks>=60:
    print('you will be a part of B batch')
elif marks>=40:
    print('you will be a part of C batch')
else:
    print('you will be a part of D batch')

you will be a part of B batch

In [50]:
marks = input('enter your marks:')
marks

'62'

In [51]:
type(marks)

str

In [52]:
price= int(input('enter the price of the product:'))
if price>=1000:
    print('you will get 10% discount')
elif price>=800:
    print('you will get 5% discount')
elif price>=500:
    print('you will get 2% discount')
else:
    print('you will not get any discount')

you will not get any discount

# loop

In [53]:
l= [1,2,3,4,5,6,7,8,9,10]

In [71]:
l1=[]

In [55]:
l[0]+1

2

In [56]:
l1.append(l[0]+1)

In [57]:
l1

[2]

In [58]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [59]:
for i in l:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [60]:
for i in l:
    print(i+1)

2
3
4
5
6
7
8
9
10
11

In [61]:
l1=[]
for i in l:
    print(i+1)
    l1.append(i+1)

2
3
4
5
6
7
8
9
10
11

In [62]:
l1

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [63]:
l2=['abhishek','rohit','mohit','joshi']

In [64]:
for i in l2:
    print(i)

abhishek
rohit
mohit
joshi

In [65]:
l3=[]
for i in l2:
    print(i)
    l3.append(i.upper())

abhishek
rohit
mohit
joshi

In [66]:
l3

['ABHISHEK', 'ROHIT', 'MOHIT', 'JOSHI']

In [67]:
l4=[56,256,489,'abhishek','kumar','sahu',569.23, 'rohit','gupta']

In [68]:
l5=[]
l6=[]
for i in l4:
    if type(i)== int or type(i)== float:
        l5.append(i)
    else:
        l6.append(i)

In [69]:
l5

[56, 256, 489, 569.23]

In [70]:
l6

['abhishek', 'kumar', 'sahu', 'rohit', 'gupta']