# dictionary

In [1]:
d={}

In [2]:
type(d)

dict

In [3]:
d1 = {'key':'abhishek'}
d1

{'key': 'abhishek'}

In [4]:
d2= {'name':'abhishek kumar sahu','email':'abhiii0017@gmail.com', 'number': 9140638469}
d2

{'name': 'abhishek kumar sahu',
 'email': 'abhiii0017@gmail.com',
 'number': 9140638469}

In [5]:
d3 = {234:'abhi', True:2354} # special case key me app nahi use kar sakte hai

In [6]:
d3

{234: 'abhi', True: 2354}

In [7]:
# use of key to find value
d3[234]

'abhi'

In [8]:
d4={'name':'abhishek kumar sahu','email':'abhiiii0017@gmail.com', 'name':'abhi'}

In [9]:
d4

{'name': 'abhi', 'email': 'abhiiii0017@gmail.com'}

In [10]:
d5={'company':'tcs','worker':['rohit','mohit','joshi']}

In [11]:
d5

{'company': 'tcs', 'worker': ['rohit', 'mohit', 'joshi']}

In [12]:
d5['worker'][2]

'joshi'

In [14]:
d5['owner']='Tata' # add new key value pair
d5

{'company': 'tcs', 'worker': ['rohit', 'mohit', 'joshi'], 'owner': 'Tata'}

In [15]:
del d5['owner'] # delete key value pair
d5

{'company': 'tcs', 'worker': ['rohit', 'mohit', 'joshi']}

In [17]:
list(d5.keys()) # return all keys

['company', 'worker']

In [18]:
d5.items() # return all key value pair

dict_items([('company', 'tcs'), ('worker', ['rohit', 'mohit', 'joshi'])])

In [19]:
list(d5.items()) # return all values

[('company', 'tcs'), ('worker', ['rohit', 'mohit', 'joshi'])]

In [20]:
d5.values() # return all values

dict_values(['tcs', ['rohit', 'mohit', 'joshi']])

In [21]:
d5.get('company') # return value of key

'tcs'

In [22]:
d5.pop('company') # remove key value pair

'tcs'

In [23]:
d5

{'worker': ['rohit', 'mohit', 'joshi']}

# conditinal satatement

In [26]:
marks= 95

In [29]:
if marks>=80:
    print('you will be a part of A batch')
elif marks>=60:
    print('you will be a part of B batch')
elif marks>=40:
    print('you will be a part of C batch')
else:
    print('you will be a part of D batch')

you will be a part of A batch

In [38]:
marks= int(input('enter your marks:'))
if marks>=80:
    print('you will be a part of A batch')
elif marks>=60:
    print('you will be a part of B batch')
elif marks>=40:
    print('you will be a part of C batch')
else:
    print('you will be a part of D batch')

you will be a part of C batch

In [39]:
marks = input('enter your marks:')
marks

'45'

In [41]:
type(marks)

str

In [42]:
price= int(input('enter the price of the product:'))
if price>=1000:
    print('you will get 10% discount')
elif price>=800:
    print('you will get 5% discount')
elif price>=500:
    print('you will get 2% discount')
else:
    print('you will not get any discount')

you will get 2% discount