In [1]:
l=[1,2,3,4,5]

In [3]:
for i in l:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [5]:
l1=["abhishek","sachin","rahul","rajesh","rohit","sachin"]
for i in l1:
    print(i,type(i))

abhishek <class 'str'>
sachin <class 'str'>
rahul <class 'str'>
rajesh <class 'str'>
rohit <class 'str'>
sachin <class 'str'>

In [6]:
l1

['abhishek', 'sachin', 'rahul', 'rajesh', 'rohit', 'sachin']

In [8]:
for i in l1:
    print(i)
else:
    print("if for loop is able to complete successfully then only else block will be executed")

abhishek
sachin
rahul
rajesh
rohit
sachin
if for loop is able to complete successfully then only else block will be executed

In [9]:
l1

['abhishek', 'sachin', 'rahul', 'rajesh', 'rohit', 'sachin']

In [12]:
for i in l1:
    if i == "rahul":
        break
    print(i)

abhishek
sachin

In [13]:
for i in l1:
    if i == "rahul":
        break
    print(i)
else:
    print("if for loop is able to complete successfully then only else block will be executed")

abhishek
sachin

In [14]:
for i in l1:
    if i == "rahul":
        continue
    print(i)

abhishek
sachin
rajesh
rohit
sachin

In [15]:
for i in l1:
    if i == "rahul":
        continue
    print(i)
else:
    print("if for loop is able to complete successfully then only else block will be executed")

abhishek
sachin
rajesh
rohit
sachin
if for loop is able to complete successfully then only else block will be executed

In [16]:
range(10)

range(0, 10)

In [17]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
list(range(0,100,5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [24]:
l1

['abhishek', 'sachin', 'rahul', 'rajesh', 'rohit', 'sachin']

In [25]:
list(range(len(l1)))

[0, 1, 2, 3, 4, 5]

In [27]:
len(l1)

6

In [28]:
list(range(len(l1)))

[0, 1, 2, 3, 4, 5]

In [29]:
for i in range(len(l1)):
    print(l1[i])

abhishek
sachin
rahul
rajesh
rohit
sachin

In [35]:
list(range(len(l1)-1,-1,-1))

[5, 4, 3, 2, 1, 0]

In [34]:
l1

['abhishek', 'sachin', 'rahul', 'rajesh', 'rohit', 'sachin']

In [38]:
for i in range(len(l1)-1,-1,-1):
    print(l1[i])

sachin
rohit
rajesh
rahul
sachin
abhishek

In [39]:
l2=[546,65,156,89,1,96,15,23,789,485,1456,259,325,874]

In [40]:
l2

[546, 65, 156, 89, 1, 96, 15, 23, 789, 485, 1456, 259, 325, 874]

In [41]:
list(range(0,len(l2),2))

[0, 2, 4, 6, 8, 10, 12]

In [42]:
for i in range(0,len(l2),2):
    print(l2[i])

546
156
1
15
789
1456
325

In [43]:
sum(l2)

5179

In [44]:
result=0
for i in l2:
    result=result+i
print(result)

5179